html, body {
  /*height: 100%;*/
  margin: 0;
  background-color: #222;
  color: white;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 50px;
  padding-left: 15px;
}

select {
  color: black;
  display: inline;
  vertical-align: top;
}

a {
  color: white
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #bdc3be
}

a:visited {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.squatty-container {
  margin-top: 20px;
  height: 100%;
  top: 0px;
  bottom: 0px;
}

.content {
  display: block;
  font-size: 40px;
}

.available {
  color: #55c16a;
}

.available:hover {
  color: #3d8c4c;
}

.available:visited {
  color: #3d8c4c;
}

.available:focus {
  color: #3d8c4c;
}

.unavailable {
  color: #c94646;
}

.unavailable:hover {
  color: #a63a3a;
}

.unavailable:visited {
  color: #a63a3a;
}

.unavailable:focus {
  color: #a63a3a;
}

/* Bootstrap Media Queries */
/* xs */
@media(max-width:767px) {
  .content {
    font-size: 15px;
  }
}

/* s */
@media(min-width:768px) {
  .content {
    font-size: 15px;
  }
}

/* m */
@media(min-width:992px) {
  .content {
    font-size: 30px;
  }
}

/* lg */
@media(min-width:1200px) {
  .content {
    font-size: 40px;
  }
}
