html, body {
  height: 100%;
  margin: 0;
  background-color: #222;
  color: white;
  font-family: 'Poppins', sans-serif;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.container {
  margin-top: 20px;
  height: 100%;
  top: 0px;
  bottom: 0px;
}

.content {
  display: block;
  font-size: 40px;
}

.available {
  color: #55c16a;
}

.available:hover {
  color: #3d8c4c;
}

.available:visited {
  color: #3d8c4c;
}

.available:focus {
  color: #3d8c4c;
}

.unavailable {
  color: #c94646;
}

.unavailable:hover {
  color: #a63a3a;
}

.unavailable:visited {
  color: #a63a3a;
}

.unavailable:focus {
  color: #a63a3a;
}
