html, body {
  /*height: 100%;*/
  margin: 0;
  background-color: #222;
  color: white;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 50px;
  padding-left: 20px;
}

h2 {
  padding-left: 15px;
}

select {
  color: black;
  display: inline;
  vertical-align: top;
}

a {
  color: white
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #9ea39f;
}

a:visited {
  text-decoration: none;
  color: #9ea39f;
}

a:focus {
  text-decoration: none;
  color: #9ea39f;
}

.domain-container {
  padding-left: 5px;
  padding-right: 5px;
}

.available-as-of {
  color: #ff7896;
  font-size: .6em;
}

.last-item {
  margin-bottom: 25px;
}

.squatty-container {
  margin-top: 20px;
  height: 100%;
  top: 0px;
  bottom: 0px;
}

.content {
  display: block;
  font-size: 35px;
}

.available {
  color: #79ffb5;
}

.available:hover {
  color: #54b37e;
}

.available:visited {
  color: #54b37e;
}

.available:focus {
  color: #54b37e;
}

.unavailable {
  color: #c94646;
}

.unavailable:hover {
  color: #a63a3a;
}

.unavailable:visited {
  color: #a63a3a;
}

.unavailable:focus {
  color: #a63a3a;
}

/* Bootstrap Media Queries */
/* xs */
@media(max-width:767px) {
  .content {
    font-size: 15px;
  }
  .available-as-of {
    display: block;
    font-size: .9em;
    margin-bottom: 5px;
  }
  .info {
    display: block;
  }
  .hyphen {
    display: none;
  }
}

/* s */
@media(min-width:768px) {
  .content {
    font-size: 15px;
  }
  .available-as-of {
    display: inline;
  }
  .hyphen {
    display: inline;;
  }
  h2 {
    text-decoration: underline;
  }
}

/* m */
@media(min-width:992px) {
  .content {
    font-size: 30px;
  }
  .available-as-of {
    display: block;
  }
  .info {
    display: block;
  }
  .hyphen {
    display: none;
  }
}

/* lg */
@media(min-width:1200px) {
  .content {
    font-size: 35px;
  }
  .available-as-of {
    display: inline;
  }
  .info {
    display: inline;
  }
  .hyphen {
    display: inline;;
  }
}
